:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --firt-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --first-button-color: #ffffff;
  --second-button-color: #212121;
  --first-header-text-color: #212121;
  --second-header-text-color: #757575;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --firs-background-color: #2f303a;
  --second-background-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--firt-text-color);
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*---------------HEADER----------------*/
.header {
  background-color: var(--main-background-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  text-align: center;
  align-items: center;
}
.header-list {
  display: flex;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-header-text-color);

  padding-bottom: 32px;
  padding-top: 32px;
}
.header-connect {
  margin-left: auto;
}
.header-contacts {
  display: flex;
}
.header-item {
  margin-right: 50px;
}
.header-item:last-child {
  margin-right: 0;
}
.header-contacts-item {
  margin-right: 50px;
}
.header-contacts-item:last-child {
  margin-right: 0;
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-header-text-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-header-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}
.logo-accent {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
/*---------------Заказ услуг----------------*/
.service {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--firs-background-color);
  text-align: center;
}
.service-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-color);

  max-width: 696px;
  margin: 0 auto 50px;
  margin-bottom: 30px;
}
.service-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 32px;

  color: var(--first-button-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  min-width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  cursor: pointer;
}

/*---------------Наши сильные стороны----------------*/
.strong-sides {
  background-color: var(--main-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.strong-sides-list {
  display: flex;
  align-items: center;
}
.strong-sides-item {
  margin-right: 30px;
}
.strong-sides-item:last-child {
  margin-right: 0px;
}
.strong-sides-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  text-transform: uppercase;

  margin-bottom: 10px;
}
.about-strong-sides {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--firt-text-color);
}

/*---------------Чем мы занимаемся----------------*/
.what-we-do {
  background-color: var(--main-background-color);
  padding-top: 0;
  padding-bottom: 94px;
}
.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-title-color);

  text-align: center;
  margin-bottom: 50px;
}
.what-we-do-list {
  display: flex;
}
.what-we-do-item {
  margin-right: 30px;
}
.what-we-do-item:last-child {
  margin-right: 0;
}

/*---------------Наша команда----------------*/
.team {
  background-color: var(--second-background-color);

  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-title-color);

  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-item {
  margin-right: 30px;
}
.team-item:last-child {
  margin-right: 0;
}
.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-header-text-color);

  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.about-team {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--firt-text-color);

  text-align: center;
  margin-bottom: 30px;
}

/*---------------Подвал----------------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--firs-background-color);
}
.footer-logo {
  display: inline-block;
  margin: 0;

  font-family: Raleway;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: white;
}
.address {
  margin-top: 20px;
}
.address-item {
  margin-bottom: 9px;
}

.address-map-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/*-------------Портфолио-------------*/
/*-------------Кнопки на наши работы-------------*/

.what-we-do {
  border-top: 1px solid #ececec;
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--main-background-color);
}
.what-we-do-list {
  display: flex;
  justify-content: center;
}
.what-we-do-item:not(:last-child) {
  margin-right: 8px;
}
.what-we-do-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-button-color);
  cursor: pointer;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  text-align: center;
  min-height: 38px;

  margin-left: 8px;
  margin-bottom: 34px;

  padding: 6px 22px 6px 22px;
}
.what-we-do-btn:focus,
.what-we-do-btn:hover {
  color: var(--first-button-color);
  background-color: var(--accent-color);
}

/*------------------Работы----------------------*/
.examples {
  display: flex;
  flex-wrap: wrap;
}
.examples-item {
  width: 370px;
  min-height: 404px;

  border: 1px solid #eeeeee;
  box-sizing: border-box;

  margin-right: 30px;
  margin-bottom: 30px;
}

.examples-item:nth-child(3n) {
  margin-right: 0;
}
.examples-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);

  margin: 20px 24px 4px 24px;
  min-height: 322px;
  min-height: 36px;
}

.examples-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--firt-text-color);

  margin: 0px 24px 20px 24px;
}
