:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --firt-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --first-button-color: #ffffff;
  --second-button-color: #212121;
  --first-header-text-color: #212121;
  --second-header-text-color: #757575;
  --accent-color: #2196f3;
  --firs-background-color: #2f303a;
  --second-background-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--firt-text-color);
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*---------------HEADER----------------*/
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-header-text-color);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-header-text-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-header-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-accent {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
/*---------------Заказ услуг----------------*/
.service {
  background-color: var(--firs-background-color);
}
.service-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.service-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  color: var(--first-button-color);
  background-color: var(--accent-color);
}

/*---------------Наши сильные стороны----------------*/
.strong-sides-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  text-transform: uppercase;
}
.about-strong-sides {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--firt-text-color);
}

/*---------------Чем мы занимаемся----------------*/
.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

/*---------------Наша команда----------------*/
.team {
  background-color: var(--second-background-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-header-text-color);
}
.about-team {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--firt-text-color);
}

/*---------------Подвал----------------*/
.footer {
  background-color: var(--firs-background-color);
}
.footer-logo {
  font-family: Raleway;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: white;
}
.address-map-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/*-------------Портфолио-------------*/
/*-------------Кнопки на наши работы-------------*/
.what-we-do-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-button-color);
  cursor: pointer;
  background-color: #f5f4fa;
  border: none;
}
.what-we-do-btn:focus,
.what-we-do-btn:hover {
  color: var(--first-button-color);
  background-color: var(--accent-color);
}
/*------------------Работы----------------------*/
.examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.examples-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--firt-text-color);
}
