.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--firs-background-color);
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__logo {
  display: inline-block;
  margin: 0;

  font-family: Raleway;
  font-style: 400;
  @include font(700, 26px, 1.19, 00.03em);
  color: white;
}
.address {
  margin-top: 20px;
}
.address__item {
  margin-bottom: 9px;
}
.address__map-link {
  @include font(400, 14px, 1.71, 0.03em);
  color: var(--main-title-color);
}
.address__link {
  @include font(400, 14px, 1.71, 0.03em);
  color: var(--second-text-color);
}
.footer__join {
  display: block;
  margin-left: 70px;
}
.footer-join__title {
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 20px;
}
.fotter-join__list {
  display: flex;
  justify-content: center;
}
.footer-join__item:not(:last-child) {
  margin-right: 10px;
}
.footer-join__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--main-title-color);

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-join__icon {
  width: 20px;
  height: 20px;
  fill: var(--first-button-color);
}
.subscribe {
  margin-left: 93px;
}
.form-subscribe {
  display: flex;
}
.subscribe__title {
  margin-bottom: 15px;
  display: block;
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--main-title-color);
}
.subscribe-form__input {
  margin: 0;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  width: 358px;
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}
.subscribe-form__button {
  align-items: center;
  justify-content: center;
  text-align: center;
  @include font(700, 16px, 1.87, 0.06em);
  background-color: var(--accent-color);
  text-transform: none;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0.15);
  padding: 10px 32px;
}
.subscribe-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}
