.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--firs-background-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  display: inline-block;
  margin: 0;

  font-family: Raleway;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: white;
}
.address {
  margin-top: 20px;
}
.address-item {
  margin-bottom: 9px;
}
.address-map-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.footer-join {
  display: block;
  margin-left: 70px;
}
.footer-join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 20px;
}
.fotter-join-list {
  display: flex;
  justify-content: center;
}
.footer-join-item:not(:last-child):not(:last-child) {
  margin-right: 10px;
}
.footer-join-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--main-title-color);

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-join-link:hover,
.footer-join-link:focus {
  background-color: var(--accent-color);
}
.footer-join-icon {
  width: 20px;
  height: 20px;
  fill: var(--first-button-color);
}
