.examples {
  display: flex;
  flex-wrap: wrap;
}
.examples__item {
  width: 370px;
  min-height: 404px;

  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;

  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .examples__text-top {
    transform: translateY(0);
  }
}
.examples-item__wrap {
  position: relative;
  overflow: hidden;
}
.examples__text-top {
  position: absolute;
  top: 0;
  left: 0;

  height: 294px;
  width: 100%;

  transform: translateY(100%);
  transition: transform 250ms linear;

  padding: 63px 24px;

  @include font(400, 18px, 1.56, 0.03em);

  color: var(--main-title-color);
  background-color: rgba(33, 150, 243, 0.9);
}
.examples__description {
  padding: 20px 24px 20px 24px;
}
.examples__title {
  @include font(700, 18px, 2, 0.06em);
  color: var(--second-title-color);

  min-width: 322px;
  min-height: 36px;
  margin-bottom: 4px;
}

.examples__text {
  @include font(400, 16px, 1.87, 0.03em);
  color: var(--firt-text-color);
}
