.what-we-do {
  border-top: 1px solid #ececec;
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--main-background-color);
}
.what-we-do-list {
  display: flex;
  justify-content: center;
}
.what-we-do-decoration {
  margin-bottom: 50px;
}

.what-we-do-item:not(:last-child) {
  margin-right: 8px;
}

.what-we-do-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-button-color);
  cursor: pointer;
  background-color: #f5f4fa;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  min-height: 38px;

  padding: 6px 22px 6px 22px;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--first-button-color);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}
