.strong-sides {
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
  justify-content: center;
  background-color: var(--main-background-color);

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.strong-sides__list {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.strong-sides__item {
  width: 100%;
  margin-bottom: 30px;
  &:not(:last-child) {
    margin-right: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}
.strong-sides__title {
  margin-top: 0;
  margin-bottom: 10px;

  @include font(700, 14px, 1.14, 0.03em);
  color: var(--second-title-color);
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.strong-sides__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;

  background-color: var(--second-background-color);
}
.strong-sides__text {
  @include font(400, 14px, 1.71, 0.03em);
  color: var(--firt-text-color);
}
