.team {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 15px;
  margin: 0px auto;
  background-color: var(--second-background-color);

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  @include font(700, 28px, 1.16, 0.03em);
  text-align: center;
  color: var(--second-title-color);
  margin-bottom: 30px;

  @media screen and(min-width:1200px) {
    @include font(700, 36px, 1.16, 0.03em);
    margin-bottom: 50px;
  }
}
.team__list {
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.team-list__item {
  margin-bottom: 30px;
}

.team__description {
  width: 450px;
  height: 622px;
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 536px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 428px;
  }
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-description__title {
  @include font(500, 16px, 1.19, 0.03em);
  min-width: 151px;
  color: var(--second-title-color);

  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.team-description__text {
  @include font(400, 16px, 1.9, 0.03em);
  min-width: 130px;

  margin-bottom: 16px;

  text-align: center;
  color: var(--firt-text-color);
}
.team-social__list {
  display: flex;
  justify-content: center;
}
.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--first-button-color);
    border-radius: 50%;
    cursor: pointer;
  }
}
.team-social__icon {
  fill: currentColor;
}
